<h3 class="sub">
  <strong>Curso:</strong>
  <%= @calendario.nombre %>
</h3>

<p>
  <strong>Periodo:</strong>
  <%= @calendario.periodo %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @calendario.registro %>
</p>

<p>
  <strong>Examen colocacion:</strong>
  <%= @calendario.examen_colocacion %>
</p>

<p>
  <strong>Inicio curso:</strong>
  <%= @calendario.inicio_curso %>
</p>

<p>
  <strong>Examen medio:</strong>
  <%= @calendario.examen_medio %>
</p>

<p>
  <strong>Examen final:</strong>
  <%= @calendario.examen_final %>
</p>

<p>
  <strong>Entrega boletas:</strong>
  <%= @calendario.entrega_boletas %>
</p>

<p>
  <strong>Suspension labores:</strong>
  <%= @calendario.suspension_labores %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @calendario.vacaciones %>
</p>

<table class="table table-bordered table-hover">
  <tr>
    <th>N&uacute;mero</th>
    <th>Horario</th>
    <th>Nivel</th>
    <th>Instructor</th>
    <!--<th>Total</th>-->
  </tr>
  <% @grupos.each_with_index do |grupo, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= grupo.horario %></td>
      <td><%= grupo.nivel %></td>
      <td><%= grupo.user.nombre_completo %></td>
   </tr>
  <% end %>
</table>
<%= link_to 'Editar', edit_calendario_path(@calendario) %> |
<%= link_to 'Regresar', calendarios_path %>
