<%= form_for(inscripcion_registro) do |f| %>
  <% if inscripcion_registro.errors.any? %>
    <div id="error_explanation">
      <h2>El formulario no pudo guardarse debido a lo siguiente:</h2>

      <ul>
      <% inscripcion_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if user_signed_in? && current_user.role.nombre == "Invitado" || current_user.role.nombre == "Control escolar" || current_user.role.nombre == "Administrador" %>
<div class="row jumbotron">
  <h4 class="subs"><strong>Oferta actual</strong></h4>
  <% if current_user.role.nombre == "Control escolar" || current_user.role.nombre == "Administrador" %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :grupo_id, 'Grupos' %>
      <%= collection_select(:inscripcion_registro, :grupo_id, Grupo.where(idioma: "Inglés"), :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :idioma %>
      <%= collection_select(:inscripcion_registro, :idioma, Grupo.where(estado: "Abierto", idioma: "Inglés"), :idioma, :idioma, {prompt: 'Seleccione'}, class: 'form-control') %>

    </div>
    <div class="form-group col-sm-4">
      <%= f.label :horario %>
      <%= collection_select(:inscripcion_registro, :horario, Grupo.where(estado: "Abierto", idioma: "Inglés"), :horario, :horario, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :nivel %>
      <%= collection_select(:inscripcion_registro, :nivel, Grupo.where(estado: "Abierto", idioma: "Inglés"), :nivel, :nivel, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :curso %>
      <%= collection_select(:inscripcion_registro, :curso, Grupo.where(idioma: "Inglés"), :curso, :curso, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :periodo %>
      <%= collection_select(:inscripcion_registro, :periodo, Grupo.where(estado: "Abierto", idioma: "Inglés"), :periodo, :periodo, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :grupo_id, 'Grupos' %>
      <%= collection_select(:inscripcion_registro, :grupo_id, @grupos, :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control', required: true, disabled: inscripcion_registro.creado ) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :idioma %>
      <%= collection_select(:inscripcion_registro, :idioma, @grupos, :idioma, :idioma, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :horario %>
      <%= collection_select(:inscripcion_registro, :horario, @grupos, :horario, :horario, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :nivel %>
      <%= collection_select(:inscripcion_registro, :nivel, @grupos, :nivel, :nivel, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :curso %>
      <%= collection_select(:inscripcion_registro, :curso, @grupos, :curso, :curso, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :periodo %>
      <%= collection_select(:inscripcion_registro, :periodo, @grupos, :periodo, :periodo, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :opcion_uno, 'Horario opcional 1' %>
      <%= collection_select(:inscripcion_registro, :opcion_uno, @grupos, :horario, :horario, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :opcion_dos, 'Horario opcional 2' %>
      <%= collection_select(:inscripcion_registro, :opcion_dos, @grupos, :horario, :horario, {prompt: 'Seleccione'}, class: 'form-control') %>
    </div>
  </div>
  <% end %>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Datos personales</strong></h4>
  <% if user_signed_in? && current_user.role.nombre == "Invitado" %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre, 'Nombre(s)' %>
      <%= f.text_field :nombre, value: current_user.nombre.parameterize(separator: ' ').upcase, required: true, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, value: current_user.paterno.parameterize(separator: ' ').upcase, required: true, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, value: current_user.materno.parameterize(separator: ' ').upcase, required: true, class: 'form-control' %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre, 'Nombre(s)' %>
      <%= f.text_field :nombre, required: true, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, required: true, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, required: true, class: 'form-control' %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :telefono, 'Teléfono' %>
      <%= f.telephone_field :telefono, placeholder: 'a 10 dígitos', class: 'form-control' %>
    </div>
    <% if user_signed_in? && current_user.role.nombre == "Invitado" %>
    <div class="form-group col-sm-3">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, value: current_user.email, required: true, class: 'form-control' %>
    </div>
    <% else %>
    <div class="form-group col-sm-3">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, required: true, class: 'form-control' %>
    </div>
    <% end %>
    <div class="form-group col-sm-2">
      <%= f.label :sexo %>
      <%= collection_select(:inscripcion_registro, :sexo, Genero.all, :genero, :genero, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :procedencia %>
      <%= collection_select(:inscripcion_registro, :procedencia, Procedencium.all, :procedencia, :procedencia, {prompt: 'Seleccione'}, class: 'form-control', disabled: inscripcion_registro.creado) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :cuota, 'Cuota (en pesos)' %>
      <%= f.text_field :cuota, class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <% if user_signed_in? && current_user.role.nombre == "Invitado" %>
    <div class="form-group col-sm-3">
      <%= f.label :movimiento, 'Movimiento bancario' %>
      <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus"  data-html="true" title="Según el método de pago" data-content="En el recibo de pago en <strong>ventanilla</strong> aparece como: <u>Movimiento</u>.<br>En el recibo de pago en <strong>PractiCaja</strong> aparece como: <u>AUT</u>.<br>Por <strong>transferencia bancaria</strong> aparece como: <u>Folio de internet</u>."><span class="badge badge-warning">?</span></a>
      <%= f.text_field :movimiento, placeholder: 'No. del movimiento', class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <% else %>
    <div class="form-group col-sm-3">
      <%= f.label :movimiento, 'Movimiento bancario' %>
      <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus"  data-html="true" title="Según el método de pago" data-content="En el recibo de pago en <strong>ventanilla</strong> aparece como: <u>Movimiento</u>.<br>En el recibo de pago en <strong>PractiCaja</strong> aparece como: <u>AUT</u>.<br>Por <strong>transferencia bancaria</strong> aparece como: <u>Folio de internet</u>."><span class="badge badge-warning">?</span></a>
      <%= f.text_field :movimiento, placeholder: 'No. del movimiento', class:'form-control' %>
    </div>
    <% end %>
    <div class="form-group col-sm-2" style="display:none" id="prestacion">
      <%= f.label :oficio_prestacion, 'Oficio de la prestación' %>
      <%= f.text_field :oficio_prestacion, placeholder: 'No. de oficio', class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :imagen, 'Ingrese su voucher' %>
      <%= f.file_field :imagen, accept:".jpg, .jpeg, .png", disabled: inscripcion_registro.creado , onchange: "fileValidation();"%>
    </div>
  </div>
</div>
<% else %>
<div class="row jumbotron">
  <h4 class="subs"><strong>Oferta actual</strong></h4>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :grupo_id, 'Grupos' %>
      <%= collection_select(:inscripcion_registro, :grupo_id, @grupos, :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control', required: true, disabled: true) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :idioma %>
      <%= collection_select(:inscripcion_registro, :idioma, @grupos, :idioma, :idioma, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :horario %>
      <%= collection_select(:inscripcion_registro, :horario, @grupos, :horario, :horario, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :nivel %>
      <%= collection_select(:inscripcion_registro, :nivel, @grupos, :nivel, :nivel, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :curso %>
      <%= collection_select(:inscripcion_registro, :curso, @grupos, :curso, :curso, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :periodo %>
      <%= collection_select(:inscripcion_registro, :periodo, @grupos, :periodo, :periodo, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :opcion_uno, 'Horario opcional 1' %>
      <%= collection_select(:inscripcion_registro, :opcion_uno, @grupos, :hora, :hora, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-3">
      <%= f.label :opcion_dos, 'Horario opcional 2' %>
      <%= collection_select(:inscripcion_registro, :opcion_dos, @grupos, :hora, :hora, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Datos personales</strong></h4>
  <% if user_signed_in? && current_user.role.nombre == "Invitado" %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre, 'Nombre(s)' %>
      <%= f.text_field :nombre, value: current_user.nombre, required: true, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, value: current_user.paterno, required: true, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, value: current_user.materno, required: true, class: 'form-control', disabled: true %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre, 'Nombre(s)' %>
      <%= f.text_field :nombre, required: true, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, required: true, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, required: true, class: 'form-control', disabled: true %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :telefono, 'Teléfono' %>
      <%= f.telephone_field :telefono, required: true, class: 'form-control', disabled: true %>
    </div>
    <% if user_signed_in? && current_user.role.nombre == "Invitado" %>
    <div class="form-group col-sm-3">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, value: current_user.email, required: true, class: 'form-control', disabled: true %>
    </div>
    <% else %>
    <div class="form-group col-sm-3">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, required: true, class: 'form-control', disabled: true %>
    </div>
    <% end %>
    <div class="form-group col-sm-2">
      <%= f.label :sexo %>
      <%= collection_select(:inscripcion_registro, :sexo, Genero.all, :genero, :genero, {prompt: 'Seleccione'}, class: 'form-control', disabled: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :procedencia %>
      <%= collection_select(:inscripcion_registro, :procedencia, Procedencium.all, :procedencia, :procedencia, {prompt: 'Seleccione'}, class: 'form-control', disabled: inscripcion_registro.creado) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :cuota, 'Cuota (en pesos)' %>
      <%= f.text_field :cuota, class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :movimiento, 'Número de movimiento bancario' %>
      <%= f.text_field :movimiento, class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :oficio_prestacion, 'Oficio de la prestación' %>
      <%= f.text_field :oficio_prestacion, placeholder: 'No. de oficio', class:'form-control', disabled: inscripcion_registro.creado %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :imagen, 'Ingrese su voucher' %>
      <%= f.file_field :imagen, accept:".jpg, .jpeg, .png", disabled: true, onchange: "fileValidation();" %>
    </div>
  </div>
</div>
<% end %>
<% if can? :control_escolar, inscripcion_registro %>
<div class="row jumbotron">
  <h4 class="subs"><strong>Control escolar</strong></h4>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :documentos_validados, "Documentos validados" %>
      <%= f.check_box :documentos_validados, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :monto_pagado %>
      <%= f.text_field :monto_pagado, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <% if can? :habilitar_contancia, inscripcion_registro %>
      <div class="form-group col-sm-3">
        <%= f.label :habilitar_constancia, "Constancia de Nivel Avanzado" %>
        <%= f.check_box :habilitar_constancia, class: 'form-control' %>
      </div>
    <% end %>
    <% if can? :habilitar_tkt, inscripcion_registro %>
      <div class="form-group col-sm-3">
        <%= f.label :habilitar_tkt, "Constancia TKT" %>
        <%= f.check_box :habilitar_tkt, class: 'form-control' %>
      </div>
    <% end %>
    <% if can? :habilitar_b2, inscripcion_registro %>
      <div class="form-group col-sm-3">
        <%= f.label :habilitar_b2, "Constancia de Nivel de Dominio B2" %>
        <%= f.check_box :habilitar_b2, class: 'form-control' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if can? :evaluacion_media, inscripcion_registro %>
      <div class="form-group col-sm-2">
        <%= f.label :examen_medio %>
        <%= f.text_field :examen_medio, class: 'form-control' %>
      </div>
    <% end %>
    <% if can? :evaluacion_final, inscripcion_registro %>
      <div class="form-group col-sm-2">
        <%= f.label :examen_final %>
        <%= f.text_field :examen_final, class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<% if can? :habilitar_historial_academico, inscripcion_registro %>
  <!--<div class="col-md-6">
    <h4 class="subs"><strong>Habilitar historial</strong></h4>
    <div class="form-group col-sm-4">
        <%#= f.label :habilitar_historial, "Historial académico" %>
        <%#= f.check_box :habilitar_historial, class: 'form-control' %>
      </div>
  </div>-->
<% end %>
<div class="row">
  <div class="actions col-sm-2">
    <%= f.submit "Enviar", class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>

<script>
$('#new_inscripcion_registro').submit(function() {
    $('inscripcion_registro_idioma').removeAttr('disabled');
});

</script>

<script>
  function matchUp(selected, toselect)
    {
      var idx = selected.prop('selectedIndex');
      toselect.prop('selectedIndex', idx);
    }

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_idioma'));
      }
    );

    $('#inscripcion_registro_idioma').change(
      function() {
        matchUp($('#inscripcion_registro_idioma'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_horario'));
      }
    );

    $('#inscripcion_registro_horario').change(
      function() {
        matchUp($('#inscripcion_registro_horario'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_nivel'));
      }
    );

    $('#inscripcion_registro_nivel').change(
      function() {
        matchUp($('#inscripcion_registro_nivel'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_curso'));
      }
    );

    $('#inscripcion_registro_curso').change(
      function() {
        matchUp($('#inscripcion_registro_curso'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_periodo'));
      }
    );

    $('#inscripcion_registro_periodo').change(
      function() {
        matchUp($('#inscripcion_registro_periodo'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_grupo_id'));
      }
    );

    $('#inscripcion_registro_grupo_id').change(
      function() {
        matchUp($('#inscripcion_registro_grupo_id'), $('#inscripcion_registro_grupo_id'));
      }
    );

    <!-- -->

    $('#inscripcion_registro_idioma').change(
      function() {
        matchUp($('#inscripcion_registro_idioma'), $('#inscripcion_registro_horario'));
      }
    );

    $('#inscripcion_registro_horario').change(
      function() {
        matchUp($('#inscripcion_registro_horario'), $('#inscripcion_registro_idioma'));
      }
    );

    $('#inscripcion_registro_idioma').change(
      function() {
        matchUp($('#inscripcion_registro_idioma'), $('#inscripcion_registro_nivel'));
      }
    );

    $('#inscripcion_registro_nivel').change(
      function() {
        matchUp($('#inscripcion_registro_nivel'), $('#inscripcion_registro_idioma'));
      }
    );

    $('#inscripcion_registro_idioma').change(
      function() {
        matchUp($('#inscripcion_registro_idioma'), $('#inscripcion_registro_curso'));
      }
    );

    $('#inscripcion_registro_curso').change(
      function() {
        matchUp($('#inscripcion_registro_curso'), $('#inscripcion_registro_idioma'));
      }
    );

    $('#inscripcion_registro_idioma').change(
      function() {
        matchUp($('#inscripcion_registro_idioma'), $('#inscripcion_registro_periodo'));
      }
    );

    $('#inscripcion_registro_periodo').change(
      function() {
        matchUp($('#inscripcion_registro_periodo'), $('#inscripcion_registro_idioma'));
      }
    );

    <!-- -->

    $('#inscripcion_registro_horario').change(
      function() {
        matchUp($('#inscripcion_registro_horario'), $('#inscripcion_registro_nivel'));
      }
    );

    $('#inscripcion_registro_nivel').change(
      function() {
        matchUp($('#inscripcion_registro_nivel'), $('#inscripcion_registro_horario'));
      }
    );

    $('#inscripcion_registro_horario').change(
      function() {
        matchUp($('#inscripcion_registro_horario'), $('#inscripcion_registro_curso'));
      }
    );

    $('#inscripcion_registro_curso').change(
      function() {
        matchUp($('#inscripcion_registro_curso'), $('#inscripcion_registro_horario'));
      }
    );

    $('#inscripcion_registro_horario').change(
      function() {
        matchUp($('#inscripcion_registro_horario'), $('#inscripcion_registro_periodo'));
      }
    );

    $('#inscripcion_registro_periodo').change(
      function() {
        matchUp($('#inscripcion_registro_periodo'), $('#inscripcion_registro_horario'));
      }
    );

    <!-- -->

    $('#inscripcion_registro_nivel').change(
      function() {
        matchUp($('#inscripcion_registro_nivel'), $('#inscripcion_registro_curso'));
      }
    );

    $('#inscripcion_registro_curso').change(
      function() {
        matchUp($('#inscripcion_registro_curso'), $('#inscripcion_registro_nivel'));
      }
    );

    $('#inscripcion_registro_nivel').change(
      function() {
        matchUp($('#inscripcion_registro_nivel'), $('#inscripcion_registro_periodo'));
      }
    );

    $('#inscripcion_registro_periodo').change(
      function() {
        matchUp($('#inscripcion_registro_periodo'), $('#inscripcion_registro_nivel'));
      }
    );

    <!-- -->

    $('#inscripcion_registro_curso').change(
      function() {
        matchUp($('#inscripcion_registro_curso'), $('#inscripcion_registro_periodo'));
      }
    );

    $('#inscripcion_registro_periodo').change(
      function() {
        matchUp($('#inscripcion_registro_periodo'), $('#inscripcion_registro_curso'));
      }
    );
</script>
<script>
  function asignarCuota(){
    var nivel = $("#inscripcion_registro_nivel").val();
    var procedencia = $("#inscripcion_registro_procedencia").val();
    var cuota;
      if (procedencia == "Instituto Politécnico Nacional"  && (nivel.includes("Básico") || nivel.includes("Intermedio") || nivel.includes("Avanzado") )){
        cuota = "544.00";
      }
      else if (procedencia == "Instituto Politécnico Nacional"  && (nivel.includes("Certificación") )){
        cuota = "1241.00";
      }
      else if ( (procedencia == "Otro") && (nivel.includes("Básico")) ){
        cuota = "1053.00";
      }
      else if ( (procedencia == "Otro") && (nivel.includes("Intermedio")) ){
        cuota = "1053.00";
      }
      else if ( (procedencia == "Otro") && (nivel.includes("Avanzado")) ){
        cuota = "1053.00";
      }
      else if ( (procedencia == "Otro") && (nivel.includes("Certificación")) ){
        cuota = "1523.00";
      }
      else if (procedencia == "Prestación"  && (nivel.includes("Básico") || nivel.includes("Intermedio") || nivel.includes("Avanzado") )){
        cuota = "0.00";
        $('#prestacion').show();
      }
    $('#inscripcion_registro_cuota').val(cuota);
  }

  $("select").change( asignarCuota );
  asignarCuota();
</script>
<script>
function oficio(){
  var prestacion = $('#inscripcion_registro_procedencia').val();
  if (prestacion == "Prestación"){
    $("#prestacion").show();
  }
  else {
    $("#prestacion").hide();
  }
}
$("select").change(oficio);
oficio();
</script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover({
    container: 'body'
  });
})
</script>
<script>
  function fileValidation(){
      var fileInput = document.getElementById('inscripcion_registro_imagen');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
      if(!allowedExtensions.exec(filePath)){
          swal('Este campo solo admite archivos .jpeg/.jpg/.png/.gif');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }
  }
</script>
<script>
  $('#new_inscripcion_registro').submit(function() {
      $('#inscripcion_registro_idioma').removeAttr('disabled');
      $('#inscripcion_registro_horario').removeAttr('disabled');
      $('#inscripcion_registro_nivel').removeAttr('disabled');
      $('#inscripcion_registro_curso').removeAttr('disabled');
      $('#inscripcion_registro_periodo').removeAttr('disabled');
  });
</script>
