<%= form_tag actualizar_editar_datos_inscripcion_registros_path, method: :patch do %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id de usuario</th>
      <th>Nombre</th>
      <th>Monto pagado</th>
      <th>Periodo</th>
      <th>Movimiento bancario</th>
      <th>Documentos validados</th>
    </tr>
  </thead>
  <tbody>
      <% @inscripcion_registros.each_with_index do |inscripcion_registro, index| %>
          <%= fields_for "inscripcion_registros[]", inscripcion_registro do |f| %>
            <tr>
              <td><%= f.text_field :user_id, value: inscripcion_registro.user_id, class:'form-control' %></td>
              <td><%= inscripcion_registro.nombre_paterno_materno %></td>
              <td><%= f.text_field :monto_pagado, value: inscripcion_registro.monto_pagado, class:'form-control' %></td>
              <td><%= f.text_field :periodo, value: inscripcion_registro.periodo, class:'form-control' %></td>
              <td><%= f.text_field :movimiento, value: inscripcion_registro.movimiento, class:'form-control' %></td>
              <td><%= f.check_box :documentos_validados, value: inscripcion_registro.documentos_validados, class: 'form-control' %></td>
            </tr>
          <% end %>
      <% end %>
  </tbody>
</table>
<%= submit_tag "Guardar cambios", class: 'btn btn-primary' %>
<br>
<%= link_to 'Regresar', inscripcion_registros_path %>
<% end %>
