<%= form_for(nivel_nombre) do |f| %>
  <% if nivel_nombre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nivel_nombre.errors.count, "error") %> prohibited this nivel_nombre from being saved:</h2>

      <ul>
      <% nivel_nombre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-sm-4">
    <%= f.label :nivel %>
    <%= f.text_field :nivel, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="actions col-sm-4">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
