<h1 class="sub">Nombres de los niveles</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nivel</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @nivel_nombres.each do |nivel_nombre| %>
      <tr>
        <td><%= nivel_nombre.nivel %></td>
        <td><%= link_to 'Detalles', nivel_nombre %></td>
        <td><%= link_to 'Editar', edit_nivel_nombre_path(nivel_nombre) %></td>
        <td><%= link_to 'Eliminar', nivel_nombre, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nivel', new_nivel_nombre_path %>
