<div class="row">
  <div class="col-md-8">
    <input type="button" id="btn-talon" value="Imprimir" class="btn btn-md btn-primary">
  </div>
</div>
<br>
<div class="row" id="talon">
  <div class="col-md-8">
    <table class="table table-examen">
      <tbody>
        <tr>
            <td><%= image_tag "ipn.png" %></td>
            <td><p align="center" class="texto-cec"><strong>INSTITUTO POLIT&Eacute;CNICO NACIONAL</strong><br>
            <span>CENTRO DE EDUCACIÓN CONTINUA<br>
            Cursos Extracurriculares de Lenguas Extranjeras</span><br>
            <strong>Comprobante de examen de colocaci&oacute;n</strong></p></td>
            <td><%= image_tag "celex.jpg" %> <%= image_tag "cec.jpg" %></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><%= Time.now.year %></td>
        </tr>
        <tr>
          <td colspan="3" align="right">
            <p>
              <strong>Fecha:</strong> <%= @examen_colocacion_idioma.created_at.strftime("%d/%m/%y")%>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p>
              <strong>Nombre:</strong> <%= @examen_colocacion_idioma.nombre_completo %>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>
              <strong>Idioma:</strong> <%= @examen_colocacion_idioma.idioma %>
            </p>
          </td>
          <td align="right">
            <p>
              <strong>Nivel asignado:</strong> <%= @examen_colocacion_idioma.nivel_asignado %>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br>
            <br>
            <p>
              <strong>Examinador:</strong> <%= @examen_colocacion_idioma.examinador %>
            </p>
          </td>
          <td align="right">
            <br>
            <br>
            <p>
              <strong>Firma del examinador:</strong> _________________________________
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p class="privacidad">
               <strong>Pol&iacute;tica de privacidad y manejo de datos personales</strong>
               <br>En cumplimiento con lo establecido por la Ley Federal de Transparencia y Acceso a la Informaci&oacute;n P&uacute;blica Gubernamental
               te informamos nuestra pol&iacute;tica de privacidad y manejo de datos personales y hacemos el siguiente compromiso:
            </p>
            <ol type="1" class="privacidad">
              <li>Los datos que te solicitamos en el formulario &uacute;nicamente ser&aacute;n utilizados para poder establecer contacto contigo en relaci&oacute;n a tu curso.</li>
              <li>Los datos que ingreses en el formulario no ser&aacute;n difundidos, distribuidos o comercializados</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Regresar', examen_colocacion_idiomas_path %>

<script>
$("#btn-talon").click(function () {
    //Hide all other elements other than printarea.
    $("#talon").show();
    window.print();
});
</script>
