<div class="bs-callout bs-callout-danger">
  <h4>Importante</h4>
  <p>Antes de crear cualquier registro de inscripci&oacute;n lea cuidadosamente las <strong><a href="#" data-toggle="modal" data-target="#myModal">Pol&iacute;ticas de registro de usuarios</a></strong></p>
</div>

<!-- Incian los registros de Inglés -->
<% if @inscripcion_registros.blank? %>
  <!-- No aparece nada en el panel -->
<% else %>
<h2 class="sub">Mis solicitudes de inscripci&oacute;n a Inglés</h2>
  <% @inscripcion_registros.each do |inscripcion_registro| %>
    <table class="table table-bordered">
      <thead>
        <th>Movimiento bancario</th>
        <th>Documentos validados</th>
        <th>Grupo</th>
        <th>Periodo</th>
        <th>A&ntilde;o</th>
        <% if inscripcion_registro.examen_medio.blank? || inscripcion_registro.examen_final.blank? %>
        <th colspan="2">Opciones</th>
        <% else %>
        <th>Calificación final</td>
        <% end %>
      </thead>
      <tr>
        <% if inscripcion_registro.imagen.exists? %>
          <td>
            <%= link_to inscripcion_registro.imagen.url(:medium), target: '_blank', class:'btn btn-comprobante', data: {toggle: "lightbox", title: "Recibo"} do %>
              <span class="glyphicon glyphicon-paperclip"></span> Comprobante
            <% end %>
          </td>
        <% else %>
          <td>
            <strong>Sin comprobante</strong>
          </td>
        <% end %>
        <% if inscripcion_registro.documentos_validados == true %>
          <td class="success"><%= inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% else %>
          <td class="danger"><%= inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% end %>
        <td class="info"><%= inscripcion_registro.grupo.nombre %></td>
        <td><%= inscripcion_registro.grupo.periodo %></td>
        <td align="center"><%= inscripcion_registro.grupo.anio %></td>
        <% if inscripcion_registro.examen_medio.blank? || inscripcion_registro.examen_final.blank? %>
          <td><%= link_to 'Talón', talon_inscripcion_registros_path(inscripcion_registro, format: :pdf) %></td>
        <% else %>
          <td align="center"><%= inscripcion_registro.promedio %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>
<!-- terminan los registros de Inglés -->

<!-- Inician los registros de Francés -->

<% if @fr_inscripcion_registros.blank? %>
  <!-- No aparece nada en el panel -->
<% else %>
<h2 class="sub">Mis solicitudes de inscripci&oacute;n a Francés</h2>
  <% @fr_inscripcion_registros.each do |fr_inscripcion_registro| %>
    <table class="table table-bordered">
      <thead>
        <th>Movimiento bancario</th>
        <th>Documentos validados</th>
        <th>Grupo</th>
        <th>Periodo</th>
        <th>A&ntilde;o</th>
        <% if fr_inscripcion_registro.examen_medio.blank? || fr_inscripcion_registro.examen_final.blank? %>
        <th colspan="2">Opciones</th>
        <% else %>
        <th>Calificación final</td>
        <% end %>
      </thead>
      <tr>
        <% if fr_inscripcion_registro.imagen.exists? %>
          <td>
            <%= link_to fr_inscripcion_registro.imagen.url(:medium), target: '_blank', class:'btn btn-comprobante' do %>
              <span class="glyphicon glyphicon-paperclip"></span> Comprobante
            <% end %>
          </td>
        <% else %>
          <td>
            <strong>Sin comprobante</strong>
          </td>
        <% end %>
        <% if fr_inscripcion_registro.documentos_validados == true %>
          <td class="success"><%= fr_inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% else %>
          <td class="danger"><%= fr_inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% end %>
        <td class="info"><%= fr_inscripcion_registro.grupo.nombre %></td>
        <td><%= fr_inscripcion_registro.grupo.periodo %></td>
        <td align="center"><%= fr_inscripcion_registro.grupo.anio %></td>
        <% if fr_inscripcion_registro.examen_medio.blank? || fr_inscripcion_registro.examen_final.blank? %>
          <td><%= link_to 'Talón', talon_fr_inscripcion_registros_path(fr_inscripcion_registro, format: :pdf) %></td>
        <% else %>
          <td align="center"><%= fr_inscripcion_registro.promedio %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>
<!-- terminan los registros de Francés -->

<!-- Inician registros de Italiano -->
<% if @it_inscripcion_registros.blank? %>
  <!-- No aparece nada en el panel -->
<% else %>
<h2 class="sub">Mis solicitudes de inscripci&oacute;n a Italiano</h2>
  <% @it_inscripcion_registros.each do |it_inscripcion_registro| %>
    <table class="table table-bordered">
      <thead>
        <th>Movimiento bancario</th>
        <th>Documentos validados</th>
        <th>Grupo</th>
        <th>Periodo</th>
        <th>A&ntilde;o</th>
        <% if it_inscripcion_registro.examen_medio.blank? || it_inscripcion_registro.examen_final.blank? %>
        <th colspan="2">Opciones</th>
        <% else %>
        <th>Calificación final</td>
        <% end %>
      </thead>
      <tr>
        <% if it_inscripcion_registro.imagen.exists? %>
          <td>
            <%= link_to it_inscripcion_registro.imagen.url(:medium), target: '_blank', class:'btn btn-comprobante' do %>
              <span class="glyphicon glyphicon-paperclip"></span> Comprobante
            <% end %>
          </td>
        <% else %>
          <td>
            <strong>Sin comprobante</strong>
          </td>
        <% end %>
        <% if it_inscripcion_registro.documentos_validados == true %>
          <td class="success"><%= it_inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% else %>
          <td class="danger"><%= it_inscripcion_registro.documentos_validados ? 'Si' : 'No' %></td>
        <% end %>
        <td class="info"><%= it_inscripcion_registro.grupo.nombre %></td>
        <td><%= it_inscripcion_registro.grupo.periodo %></td>
        <td align="center"><%= it_inscripcion_registro.grupo.anio %></td>
        <% if it_inscripcion_registro.examen_medio.blank? || it_inscripcion_registro.examen_final.blank? %>
          <td><%= link_to 'Talón', talon_it_inscripcion_registros_path(it_inscripcion_registro, format: :pdf) %></td>
        <% else %>
          <td align="center"><%= it_inscripcion_registro.promedio %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>
<!-- terminan registros de Italiano -->

<!-- Inician las solicitudes de examen de colocacion -->

<% if @examen_colocacion_idiomas.blank? %>
  <!-- No aparece nada en el panel -->
<% else %>
<h2 class="sub">Mis solicitudes de examen de colocaci&oacute;n</h2>
  <% @examen_colocacion_idiomas.each do |examen_colocacion_idioma| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Idioma</th>
        <th>Movimiento bancario</th>
        <th>Nivel asignado</th>
        <th>Examinador</th>
        <th>Expira el</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= examen_colocacion_idioma.idioma %></td>
          <% if examen_colocacion_idioma.imagen.exists? %>
            <td align="center">
              <%= link_to examen_colocacion_idioma.imagen.url, target: '_blank', class:'btn btn-comprobante' do %>
                <span class="glyphicon glyphicon-paperclip"></span> Comprobante
              <% end %>
            </td>
          <% else %>
            <td>
              <strong>Sin comprobante</strong>
            </td>
          <% end %>
          <% if examen_colocacion_idioma.nivel_asignado.blank? %>
            <td>Pendiente</td>
          <% else %>
            <td><%= examen_colocacion_idioma.nivel_asignado %></td>
          <% end %>
          <% if examen_colocacion_idioma.examinador.blank? %>
            <td>Pendiente</td>
          <% else %>
            <td><%= examen_colocacion_idioma.examinador %></td>
          <% end %>
          <td><%= examen_colocacion_idioma.fecha_expiracion %></td>
          <td><%= link_to 'Talón', examen_colocacion_idioma %></td>
        </tr>
    </tbody>
  </table>
  <% end %>
<% end %>
<!-- terminan los examenes de colocación -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header panel-head-azul">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel" align="center"><strong>Pol&iacute;ticas de registro de usuarios</strong></h3>
      </div>
      <div class="modal-body">
        <p><strong>Cuotas</strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Pago del curso de idiomas</th>
              <th>B&aacute;sico</th>
              <th>Intermedio</th>
              <th>Avanzado</th>
              <th>Certificaci&oacute;n</th>
            </tr>
          </thead>
          <tr>
            <td>Comunidad Polit&eacute;cnica.</td>
            <td>$544.00</td>
            <td>$544.00</td>
            <td>$544.00</td>
            <td>$1,241.00</td>
          </tr>
          <tr>
            <td>P&uacute;blico general.</td>
            <td>$1,053.00</td>
            <td>$1,053.00</td>
            <td>$1,053.00</td>
            <td>$1,523.00</td>
          </tr>
        </table>
        <table class="table table-bordered">
          <thead>
              <tr>
                <th>Examen de colocaci&oacute;n</th>
                <th>Costo</th>
              </tr>
          </thead>
          <tr>
              <td>Comunidad polit&eacute;cnica.</td>
              <td>$116.00</th>
          </tr>
          <tr>
              <td>P&uacute;blico general.</td>
              <td>$385.00</th>
          </tr>
        </table>
        <p><strong>Leer atentamente:</strong></p>
        <p>Los CELEX CEC Ingeniero Eugenio M&eacute;ndez Docurro <strong>se reservan el derecho de apertura o cancelaci&oacute;n de grupos
    de acuerdo a la demanda</strong>, a su vez, los CELEX &uacute;nicamente <strong>recibir&aacute;n dep&oacute;sitos bancarios por los importes
    exactos</strong> antes mencionados y en las fechas establecidas anualmente en el calendario de actividades.</p>
        <p>Se deber&aacute; entregar el <strong>comprobante de pago en original, para hacer v&aacute;lida su inscripci&oacute;n</strong>.</p>
        <p>En el caso de la no apertura del curso en el nivel y horario solicitado, se le realizar&aacute; una <strong>Postergaci&oacute;n
          Acad&eacute;mica</strong> para los siguientes cursos, ya que <strong>no existe el instrumento de devoluci&oacute;n del importe pagado</strong>.</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Dep&oacute;sitos a cuenta</th>
            </tr>
          </thead>
          <tr>
            <td>BBVA Bancomer</td>
            <td>0168358273</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="Aceptar">Acepto los t&eacute;rminos y condiciones</button>
      </div>
    </div>
  </div>
</div>
<script>
    if(localStorage.getItem("DontShow")) {
        $('#myModal').hide();
    }
    else {
      $(document).ready(function(){
        $('#myModal').modal('show');
      });
    }
    $(document).on("click", "#Aceptar", function() {
        localStorage.setItem("DontShow", "true");
    });
</script>
