<h1 class="sub">Idiomas</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Idioma</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @idiomas.each do |idioma| %>
      <tr>
        <td><%= idioma.idioma %></td>
        <td><%= link_to 'Detalles', idioma %></td>
        <td><%= link_to 'Editar', edit_idioma_path(idioma) %></td>
        <td><%= link_to 'Eliminar', idioma, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar idioma', new_idioma_path %>
