<h1 class="sub">N&uacute;meros de registro de cursos</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>N&uacute;mero de registro del curso</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @numero_registros.each do |numero_registro| %>
      <tr>
        <td><%= numero_registro.nombre %></td>
        <td><%= link_to 'Detalles', numero_registro %></td>
        <td><%= link_to 'Editar', edit_numero_registro_path(numero_registro) %></td>
        <td><%= link_to 'Eliminar', numero_registro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nuevo número de registro', new_numero_registro_path %>
