<h1 class="sub">Horarios</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Hora</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= horario.hora %></td>
        <td><%= link_to 'Detalles', horario %></td>
        <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
        <td><%= link_to 'Eliminar', horario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar horario', new_horario_path %>
