<h1 class="sub">Modalidad de oferta</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre de la modalidad</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @modalidad_oferta.each do |modalidad_ofertum| %>
      <tr>
        <td><%= modalidad_ofertum.nombre %></td>
        <td><%= link_to 'Detalles', modalidad_ofertum %></td>
        <td><%= link_to 'Editar', edit_modalidad_ofertum_path(modalidad_ofertum) %></td>
        <td><%= link_to 'Eliminar', modalidad_ofertum, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nueva modalidad de oferta', new_modalidad_ofertum_path %>
