<%= form_for(seccion_nombre) do |f| %>
  <% if seccion_nombre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seccion_nombre.errors.count, "error") %> prohibited this seccion_nombre from being saved:</h2>

      <ul>
      <% seccion_nombre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
