<h1 class="sub">Datos de instituciones bancarias</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre de la instituci&oacute;n bancaria</th>
      <th>Cuenta</th>
      <th>Referencia</th>
      <th>Titular de la cuenta</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @datos_bancos.each do |datos_banco| %>
      <tr>
        <td><%= datos_banco.nombre %></td>
        <td><%= datos_banco.cuenta %></td>
        <td><%= datos_banco.referencia %></td>
        <td><%= datos_banco.titular %></td>
        <td><%= link_to 'Detalles', datos_banco %></td>
        <td><%= link_to 'Editar', edit_datos_banco_path(datos_banco) %></td>
        <td><%= link_to 'Eliminar', datos_banco, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar otra institución bancaria', new_datos_banco_path %>
