<div id="filterrific_results">
  <table class="table table-bordered">
    <tr>
      <th>Nombre</th>
      <th>Inglés</th>
      <th>Francés</th>
      <th>Italiano</th>
      <th>B2</th>
      <th>TKT</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.nombre_upcase %>
      </td>
      <td>
        <%= link_to "Ver historial", historial_academico_ingles_users_path(user, format: :pdf) %>
      </td>
      <td>
        <%= link_to "Ver historial", historial_academico_frances_users_path(user, format: :pdf) %>
      </td>
      <td>
        <%= link_to "Ver historial", historial_academico_italiano_users_path(user, format: :pdf) %>
      </td>
      <td>
        <%= link_to "Ver historial", historial_academico_b2_users_path(user, format: :pdf) %>
      </td>
      <td>
        <%= link_to "Ver historial", historial_academico_tkt_users_path(user, format: :pdf) %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate @users, theme: 'twitter-bootstrap-3', param_name: :pagina %>
</div>
