<p>
  <strong>Nombre:</strong>
  <%= @user.nombre_paterno_materno %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.role.nombre %>
</p>

<p>
  <strong>Creado el:</strong>
  <%= @user.created_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>Correo electrónico:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Último inicio de sesión:</strong>
  <%= @user.last_sign_in_at.strftime("%d/%m/%y a las %T %P") %>
</p>

<p>
  <strong>Solicitud de recuperación de contraseña:</strong>
  <% if @user.reset_password_sent_at.blank? %>
    No ha solicitado recuperación de contraseña
  <% else %>
    <%= @user.reset_password_sent_at.strftime("%d/%m/%y a las %T %P") %>
  <% end %>
</p>

<p><strong>Cursos de este usuario:</strong></p>
<% if @inscripcion_registros.present? %>
<p align="center">Cursos de Inglés</p>
<table class="table table-bordered">
  <thead>
      <tr>
        <th>Nivel</th>
        <th>Curso</th>
        <th>Horario</th>
        <th>Periodo</th>
        <th>Promedio</th>
      </tr>
  </thead>
  <% @inscripcion_registros.each do |inscripcion_registro| %>
  <tbody>
    <tr>
      <td><%= inscripcion_registro.nivel %></td>
      <td><%= inscripcion_registro.curso %></td>
      <td><%= inscripcion_registro.horario %></td>
      <td><%= inscripcion_registro.periodo %></td>
      <td><%= inscripcion_registro.promedio %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<p>Este usuario no tiene cursos previos del idioma Inglés</p>
<% end %>

<% if @fr_inscripcion_registros.present? %>
<p align="center">Cursos de Francés</p>
<table class="table table-bordered">
  <thead>
      <tr>
        <th>Nivel</th>
        <th>Curso</th>
        <th>Horario</th>
        <th>Periodo</th>
        <th>Promedio</th>
      </tr>
  </thead>
  <% @fr_inscripcion_registros.each do |fr_inscripcion_registro| %>
  <tbody>
    <tr>
      <td><%= fr_inscripcion_registro.nivel %></td>
      <td><%= fr_inscripcion_registro.curso %></td>
      <td><%= fr_inscripcion_registro.horario %></td>
      <td><%= fr_inscripcion_registro.periodo %></td>
      <% if fr_inscripcion_registro.promedio <= 40 %>
      <td>No disponible</td>
      <% elsif fr_inscripcion_registro.promedio > 40 %>
      <td><%= fr_inscripcion_registro.promedio %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<p>Este usuario no tiene cursos previos del idioma Francés</p>
<% end %>

<% if @it_inscripcion_registros.present? %>
<p align="center">Cursos de Italiano</p>
<table class="table table-bordered">
  <thead>
      <tr>
        <th>Nivel</th>
        <th>Curso</th>
        <th>Horario</th>
        <th>Periodo</th>
        <th>Promedio</th>
      </tr>
  </thead>
  <% @it_inscripcion_registros.each do |it_inscripcion_registro| %>
  <tbody>
    <tr>
      <td><%= it_inscripcion_registro.nivel %></td>
      <td><%= it_inscripcion_registro.curso %></td>
      <td><%= it_inscripcion_registro.horario %></td>
      <td><%= it_inscripcion_registro.periodo %></td>
      <% if it_inscripcion_registro.promedio <= 40 %>
      <td>No disponible</td>
      <% elsif it_inscripcion_registro.promedio > 40 %>
      <td><%= it_inscripcion_registro.promedio %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
<% else %>
<p>Este usuario no tiene cursos previos del idioma Italiano</p>
<% end %>

<p align="center">Exámenes de coloación</p>
<p>Exámenes realizados: <%= @examenes_colocacion %></p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
