<h1 class="sub">Registros de inscripci&oacute;n</h1>
<%= form_for_filterrific @filterrific do |f| %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.label :search_query, 'Buscar registro por nombre' %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control'
      ) %>
    </div>
    <div class="col-md-4">
      <%= f.label :sorted_by, 'Ordenar por' %>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
    <div class="col-md-4">
      <%= f.label :with_grupo_id, 'Ordenar por grupo' %>
      <%= f.select(:with_grupo_id, @filterrific.select_options[:with_grupo_id], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
    <div class="col-md-4">
      <%= f.label :with_documentos_validados, 'Filtrar por estado' %>
      <%= f.select(:with_documentos_validados, @filterrific.select_options[:with_documentos_validados], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
    <div class="col-md-4">
      <%= f.label :with_curso, 'Filtrar por curso' %>
      <%= f.select(:with_curso, @filterrific.select_options[:with_curso], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-3">
        <%= link_to(
          'Quitar filtros',
          reset_filterrific_url,
          class: 'btn btn-primary'
        ) %>
      </div>
  </div>
</div>
  <%# add an automated spinner to your form when the list is refreshed %>
<% end %>

<%= render(
  partial: 'fr_inscripcion_registros/registros',
  locals: { fr_inscripcion_registros: @fr_inscripcion_registros }
) %>

<br>
<%= link_to 'Crear nuevo registro de inscripción', new_fr_inscripcion_registro_path %>
