<%= form_for(grupo) do |f| %>
  <% if grupo.errors.any? %>
    <div id="error_explanation">
      <h2>Los siguientes errores no permitieron que el grupo se guardara:</h2>

      <ul>
      <% grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row  jumbotron">
  <h4 class="subs"><strong>Informaci&oacute;n general del grupo</strong></h4>
  <div class="form-group col-sm-2">
    <%= f.label :idioma %>
    <%= collection_select(:grupo, :idioma, Idioma.all, :idioma, :idioma, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.label :nivel %>
    <%= collection_select(:grupo, :nivel, NivelNombre.all, :nivel, :nivel, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-2">
    <%= f.label :horario %>
    <%= collection_select(:grupo, :horario, Horario.all, :hora, :hora, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.label :seccion %>
    <%= collection_select(:grupo, :seccion, SeccionNombre.order('nombre ASC'), :nombre, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-4">
    <%= f.label :nombre, "Nombre del grupo" %>
    <%= f.text_field :nombre, class:'form-control' %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.label :user_id, "Nombre del profesor" %>
    <%= collection_select(:grupo, :user_id, User.instructores.order("paterno ASC"), :id, :nombre_completo, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
  </div>
  <div class="form-group col-sm-2">
    <%= f.label :curso, "Curso" %>
    <%= collection_select(:grupo, :curso, Calendario.where(estado: "Abierto"), :nombre, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-2">
    <%= f.label :periodo, "Periodo" %>
    <%= collection_select(:grupo, :periodo, Calendario.where(estado: "Abierto"), :periodo, :periodo, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-2">
    <%= f.label :anio, 'Año' %><br>
    <%= collection_select(:grupo, :anio, Calendario.where(estado: "Abierto"), :anio, :anio, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <div class="form-group col-sm-2">
    <%= f.label :estado, "Estado" %>
    <%= collection_select(:grupo, :estado, Estado.all, :nombre, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>
  <% if can? :habilitar_constancias, grupo %>
    <div class="row">
      <div class="form-group col-sm-3">
        <%= f.label :habilitar_contancias_grupo, "¿Habilitar constancias de este grupo?" %>
        <%= f.check_box :habilitar_constancias_grupo, class: 'form-control' %>
      </div>
    </div>
  <% end %>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Informaci&oacute;n de la oferta educativa</strong></h4>
  <br>

  <div class="form-group col-md-4">
    <%= f.label :lugar, "Lugar" %>
    <%= collection_select(:grupo, :lugar, Centro.all, :lugar, :lugar, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :fecha, "Fecha" %>
    <%= f.text_field :fecha, class: 'form-control' %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :centro, "Centro de educación continua" %>
    <%= collection_select(:grupo, :centro, Centro.all, :nombre, :nombre, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :registro, "Número de registro del curso" %>
    <%= collection_select(:grupo, :registro, RegistroCurso.all, :registro, :registro, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :tipo, "Tipo de oferta" %>
    <%= collection_select(:grupo, :tipo, RegistroCurso.all, :tipo_oferta, :tipo_oferta, {prompt: 'Seleccione'}, class: 'form-control') %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :modalidad, "Modalidad de oferta" %>
    <%= collection_select(:grupo, :modalidad, RegistroCurso.all, :modalidad, :modalidad, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :cupo, "Cupo" %>
    <%= collection_select(:grupo, :cupo, RegistroCurso.all, :cupo, :cupo, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :duracion, "Duración del programa" %>
    <%= collection_select(:grupo, :duracion, RegistroCurso.all, :horas, :horas, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :cuota, "Cuota de recuperación" %>
      <%= collection_select(:grupo, :cuota, RegistroCurso.all, :cuota, :cuota, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :clave, "Clave del catálogo fideicomiso" %>
    <%= collection_select(:grupo, :clave, RegistroCurso.all, :clave_catalogo, :clave_catalogo, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :proyecto, "Proyecto" %>
      <%= collection_select(:grupo, :proyecto, RegistroCurso.all, :proyecto, :proyecto, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Informaci&oacute;n bancaria</strong></h4>
  <br>
  <div class="form-group col-md-4">
    <%= f.label :institucion_bancaria, "Institución bancaria" %>
    <%= collection_select(:grupo, :institucion_bancaria, DatosBanco.all, :nombre, :nombre, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :cuenta, "Cuenta" %>
    <%= collection_select(:grupo, :cuenta, DatosBanco.all, :cuenta, :cuenta, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :referencia, "Referencia" %>
    <%= collection_select(:grupo, :referencia, DatosBanco.all, :referencia, :referencia, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :titutlar, "Titular de la cuenta" %>
    <%= collection_select(:grupo, :titular, DatosBanco.all, :titular, :titular, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Informaci&oacute;n del instructor</strong></h4>
  <br>
  <div class="form-group col-md-4">
    <%= f.label :instructor, "Nombre del instructor" %>
    <%= collection_select(:grupo, :instructor, User.instructores.order("paterno ASC"), :id, :nombre_completo, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :instructor_rfc, "RFC del instructor" %>
    <%= collection_select(:grupo, :instructor_rfc, User.instructores.order("paterno ASC"), :id, :rfc, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :instructor_correo, "Correo electrónico del instructor" %>
    <%= collection_select(:grupo, :instructor_correo, User.instructores.order("paterno ASC"), :id, :email, {prompt: 'Seleccione'}, class: 'form-control')  %>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Validaci&oacute;n</strong></h4>
  <br>
  <div class="form-group col-md-4">
    <%= f.label :jefe_ec, "Jefe de educación coninua CEC" %>
    <%= f.text_field :jefe_ec, value: grupo.jefe_educacion_continua, class: 'form-control'  %>
  </div>
</div>
<div class="row">
  <div class="actions col-sm-4">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>

<script>
  function matchUp(selected, toselect)
    {
      var idx = selected.prop('selectedIndex');
      toselect.prop('selectedIndex', idx);
    }

    $('#grupo_curso').change(
      function() {
        matchUp($('#grupo_curso'), $('#grupo_periodo'));
      }
    );

    $('#grupo_periodo').change(
      function() {
        matchUp($('#grupo_periodo'), $('#grupo_curso'));
      }
    );

    $('#grupo_curso').change(
      function() {
        matchUp($('#grupo_curso'), $('#grupo_anio'));
      }
    );

    $('#grupo_anio').change(
      function() {
        matchUp($('#grupo_anio'), $('#grupo_curso'));
      }
    );

    $('#grupo_periodo').change(
      function() {
        matchUp($('#grupo_periodo'), $('#grupo_anio'));
      }
    );

    $('#grupo_anio').change(
      function() {
        matchUp($('#grupo_anio'), $('#grupo_periodo'));
      }
    );

    $('#grupo_institucion_bancaria').change(
      function() {
        matchUp($('#grupo_institucion_bancaria'), $('#grupo_cuenta'));
      }
    );

    $('#grupo_cuenta').change(
      function() {
        matchUp($('#grupo_cuenta'), $('#grupo_institucion_bancaria'));
      }
    );

    $('#grupo_institucion_bancaria').change(
      function() {
        matchUp($('#grupo_institucion_bancaria'), $('#grupo_referencia'));
      }
    );

    $('#grupo_referencia').change(
      function() {
        matchUp($('#grupo_referencia'), $('#grupo_institucion_bancaria'));
      }
    );

    $('#grupo_institucion_bancaria').change(
      function() {
        matchUp($('#grupo_institucion_bancaria'), $('#grupo_titular'));
      }
    );

    $('#grupo_titular').change(
      function() {
        matchUp($('#grupo_titular'), $('#grupo_institucion_bancaria'));
      }
    );
    <!-- //Cuenta del banco-->

    $('#grupo_cuenta').change(
      function() {
        matchUp($('#grupo_cuenta'), $('#grupo_referencia'));
      }
    );

    $('#grupo_referencia').change(
      function() {
        matchUp($('#grupo_referencia'), $('#grupo_cuenta'));
      }
    );

    $('#grupo_cuenta').change(
      function() {
        matchUp($('#grupo_cuenta'), $('#grupo_titular'));
      }
    );

    $('#grupo_titular').change(
      function() {
        matchUp($('#grupo_titular'), $('#grupo_cuenta'));
      }
    );

    <!-- //Referencia bancaria-->

    $('#grupo_referencia').change(
      function() {
        matchUp($('#grupo_referencia'), $('#grupo_titular'));
      }
    );

    $('#grupo_titular').change(
      function() {
        matchUp($('#grupo_titular'), $('#grupo_referencia'));
      }
    );

    <!-- //Nombre del profesor-->

    $('#grupo_instructor').change(
      function() {
        matchUp($('#grupo_instructor'), $('#grupo_instructor_rfc'));
      }
    );

    $('#grupo_instructor_rfc').change(
      function() {
        matchUp($('#grupo_instructor_rfc'), $('#grupo_instructor'));
      }
    );

    $('#grupo_instructor').change(
      function() {
        matchUp($('#grupo_instructor'), $('#grupo_instructor_correo'));
      }
    );

    $('#grupo_instructor_correo').change(
      function() {
        matchUp($('#grupo_instructor_correo'), $('#grupo_instructor'));
      }
    );


    <!-- //RFC del instructor -->

    $('#grupo_instructor_rfc').change(
      function() {
        matchUp($('#grupo_instructor_rfc'), $('#grupo_instructor_correo'));
      }
    );

    $('#grupo_instructor_correo').change(
      function() {
        matchUp($('#grupo_instructor_correo'), $('#grupo_instructor_rfc'));
      }
    );

    $('#grupo_lugar').change(
      function() {
        matchUp($('#grupo_lugar'), $('#grupo_centro'));
      }
    );

    $('#grupo_centro').change(
      function() {
        matchUp($('#grupo_centro'), $('#grupo_lugar'));
      }
    );

    $('#grupo_user_id').change(
      function() {
        matchUp($('#grupo_user_id'), $('#grupo_instructor'));
      }
    );

    $('#grupo_instructor').change(
      function() {
        matchUp($('#grupo_instructor'), $('#grupo_user_id'));
      }
    );

    $('#grupo_user_id').change(
      function() {
        matchUp($('#grupo_user_id'), $('#grupo_instructor_rfc'));
      }
    );

    $('#grupo_instructor_rfc').change(
      function() {
        matchUp($('#grupo_instructor_rfc'), $('#grupo_user_id'));
      }
    );

    $('#grupo_user_id').change(
      function() {
        matchUp($('#grupo_user_id'), $('#grupo_instructor_correo'));
      }
    );

    $('#grupo_instructor_correo').change(
      function() {
        matchUp($('#grupo_instructor_correo'), $('#grupo_user_id'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_cuota'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_clave'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_registro'));
      }
    );

    $('#grupo_registro').change(
      function() {
        matchUp($('#grupo_registro'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_registro'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_cupo'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_duracion'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_cuota'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_clave'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_tipo'));
      }
    );

    $('#grupo_tipo').change(
      function() {
        matchUp($('#grupo_tipo'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_modalidad'));
      }
    );
    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_cuota'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_clave'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_modalidad').change(
      function() {
        matchUp($('#grupo_modalidad'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_modalidad'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_cuota'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_clave'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cupo').change(
      function() {
        matchUp($('#grupo_cupo'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_cupo'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_cuota'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_clave'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_duracion'));
      }
    );

    $('#grupo_duracion').change(
      function() {
        matchUp($('#grupo_duracion'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_clave'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_cuota'));
      }
    );

    $('#grupo_cuota').change(
      function() {
        matchUp($('#grupo_cuota'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_cuota'));
      }
    );

    $('#grupo_clave').change(
      function() {
        matchUp($('#grupo_clave'), $('#grupo_proyecto'));
      }
    );

    $('#grupo_proyecto').change(
      function() {
        matchUp($('#grupo_proyecto'), $('#grupo_clave'));
      }
    );
  </script>

  <script>
    function crearNombre(){
      var idioma = $("#grupo_idioma").val();
      var nivel = $("#grupo_nivel").val();
      var horario = $("#grupo_horario").val();
      var curso = $("#grupo_curso").val();
      var seccion = $("#grupo_seccion").val();
      $('#grupo_nombre').val(idioma  + ' | ' + nivel +' '+ seccion + ' | ' + horario + ' | ' + curso);
    }

    $("select").change( crearNombre );
    crearNombre();
  </script>
