<div id="grupos">
<h2 class="sub">Seleccione las constancias que se van a crear</h2>
<p><strong>Nombre del profesor:</strong> <%= @grupo.user.nombre_completo %></p>
<p><strong>Grupo:</strong> <%= @grupo.nombre %></p>
<p><strong>Idioma:</strong> <%= @grupo.idioma %></p>
<p><strong>Horario:</strong> <%= @grupo.horario %></p>
<%= form_tag habilitar_multiples_constancias_inscripcion_registros_path do %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="5%">Seleccione</th>
      <th width="5%">N&uacute;mero de lista</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Nombre</th>
      <th>Calificaci&oacute;n</th>
    </tr>
  </thead>

  <tbody>
      <% @inscripcion_registros.each_with_index do |inscripcion_registro, index| %>
        <% if inscripcion_registro.grupo.nombre == @grupo.nombre %>
          <tr>
            <td><%= check_box_tag "inscripcion_registro_ids[]", inscripcion_registro.id %></td>
            <td><%= index + 1 %></td>
            <td><%= inscripcion_registro.paterno %></td>
            <td><%= inscripcion_registro.materno %></td>
            <td><%= inscripcion_registro.nombre %></td>
            <td><%= inscripcion_registro.promedio %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>
<input type="checkbox" id="selectAll" value="selectAll"><strong> Seleccionar / Deseleccionar todos</strong><br><br>
<%= submit_tag "Crear lista de constancias", class: 'btn btn-primary' %>
<br>
<br>
<% end %>
</div>

<%= link_to 'Editar', edit_grupo_path(@grupo) %> |
<%= link_to 'Regresar', grupos_path %>

<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>
