<h1 class="sub">Cuotas</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Cuota</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cuota.each do |cuotum| %>
      <tr>
        <td><%= cuotum.cuota %></td>
        <td><%= link_to 'Detalles', cuotum %></td>
        <td><%= link_to 'Editar', edit_cuotum_path(cuotum) %></td>
        <td><%= link_to 'Eliminar', cuotum, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar cuota', new_cuotum_path %>
