<%= form_for(procedencium) do |f| %>
  <% if procedencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(procedencium.errors.count, "error") %> prohibited this procedencium from being saved:</h2>

      <ul>
      <% procedencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-sm-4">
    <%= f.label :procedencia %>
    <%= f.text_field :procedencia, class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="actions col-sm-4">
    <%= f.submit "Enviar", class: "btn btn-md btn-primary" %>
  </div>
</div>
<% end %>
