<h1 class="sub">Procedencias</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Procedencia</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @procedencia.each do |procedencium| %>
      <tr>
        <td><%= procedencium.procedencia %></td>
        <td><%= link_to 'Detalles', procedencium %></td>
        <td><%= link_to 'Editar', edit_procedencium_path(procedencium) %></td>
        <td><%= link_to 'Eliminar', procedencium, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar procedencia', new_procedencium_path %>
