<h1 class="sub">Centros</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre del centro</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
        <td><%= centro.nombre %></td>
        <td><%= link_to 'Detalles', centro %></td>
        <td><%= link_to 'Editar', edit_centro_path(centro) %></td>
        <td><%= link_to 'Eliminar', centro, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nuevo centro', new_centro_path %>
