<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="Cabecera"><!--Inicio Header-->
      <div class="MenuAuxiliar"><!--Inicio menú utilerias-->
          <ul>
          <li style="float:left"><a href="http://www.gob.mx"><img src="https://framework-gb.cdn.gob.mx/assets/images/gobmxlogo.svg" /></a></li>
          <li itemprop="event"><a href="http://www.ipn.mx/Paginas/Calendario-Academico.aspx" itemprop="url">CALENDARIO</a></li>
          <li itemprop = "email"><a href="http://www.ipn.mx/Paginas/Correo-Electronico.aspx" itemprop="url">CORREO ELECTRÓNICO</a></li>
          <li itemprop = "contactPoint"><a href="http://www.ipn.mx/Paginas/directorio.aspx" itemprop="url">DIRECTORIO</a></li>
        </ul>
      </div><!--Fin Menú utilerias-->
        <div class="CabeceraTitulo"><!--Inicio Banner IPN-->
          <div class="CabeceraContenido">
            <div class="LogoSEP" itemprop = "logo"></div>
              <div class="LogoIPN" itemprop = "logo">
                  <a href="http://www.ipn.mx"><div class="EscudoIPN"></div></a>
                  <span><a href="http://www.ipn.mx" itemprop = "url">Instituto Politécnico Nacional
                    <span>"La Técnica al Servicio de la Patria"</span></a>
                    </span>
                 </div>

                  <%= render 'layouts/escudo' %>

             </div>
         </div><!--Fin Banner IPN-->
         <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse borde">
                <%= render 'layouts/menu' %>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
    </div>
    </div><!--Fin Header-->
    <div class="container">
      <div class="row">
        <div id="flash">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
    <footer>
        <!-- inicia footer institucional-->
        	<div class="PiePagina">
            	<hr>
                <h1 align="center">
                  Instituto Polit&eacute;cnico Nacional
                </h1>
              <%= render 'layouts/footer' %>
              <br>
              <br>
              <strong>M&eacute;xico <%= Time.now.year %></strong>
            </p>
        	</div>
        <!-- termina el footer institucional -->
    	</footer>

    <!--<script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').fadeOut(function() { $(this).remove(); });
      }, 3000);
     })
   </script>-->
  </body>
</html>
